<div class='container p-4'>
  <nav class="navbar bg-light px-3">
    <h1 class="display-1">Yelp</h1>
  </nav>

  <div class='py-4'>
    <ul class="list-group list-group-flush text-center">
      <% @restaurants.each do |restaurant| %>
      <a href="#" class="list-group-item text-bg-light p-3">
        <%= link_to restaurant.name, restaurant  %>
      </a>
      <% end %>
    </ul>
  </div>

  <div class="p-5 text-end fw-lighter"><%= link_to "Enter a new restaurant", new_restaurant_path%></div>
</div>
